<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xin.banghua.mediapicker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application>
        <activity
            android:name=".Image.ImageActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".Video.VideoActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

<!--        <provider-->
<!--            tools:replace="android:authorities"-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="${applicationId}.provider"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                tools:replace="android:resource"-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/provider_paths" />-->
<!--        </provider>-->

    </application>
</manifest>